/*******************************************CSS RESET****************************************/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*************************************MODIFICATIONS*****************************************/

/*general*/
@import url("https://fonts.cdnfonts.com/css/noir");
@import url("https://fonts.cdnfonts.com/css/rezland-2");

:root {
  --headcol: #a27b5c;
  --textcol: whitesmoke;
  --bgcol: #2c3639;
  --sectioncol: #232931;
  --sparecol: rgb(205, 205, 205);
  --font1: "Red Hat Text", sans-serif;
}

h1,
h2,
h3,
p {
  text-wrap: balance;
}

h1,
h2,
h3,
h4,
h5,
p,
small,
li {
  font-family: var(--font1);
}

@media only screen and (max-width: 1024px) {
  p {
    font-size: 18px;
  }
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.col {
  flex-direction: column;
}

.right {
  float: right;
}

.title {
  color: var(--headcol);
  font-size: larger;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mt {
  margin-top: 1em;
}
.section-hr {
  height: 5px;
  background-color: blue;
  width: 70%;
  border-radius: 95px;
}
/****scroll animation**********/
.reveal {
  position: relative;
  transform: translateY(40px);
  opacity: 0;
  transition: all 0.5s ease;
}
.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}
html,
body {
  scroll-behavior: smooth;
}
/*****************navbar*******************8*/
@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translateX(-30px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}
nav {
  height: 100%;
  padding: 1em;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  position: fixed;
  width: 5em;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.5);
  mix-blend-mode: difference;
  animation: fade-right 0.8s;
  display: flex;
}
.logo {
  font-family: "Rezland", sans-serif;
  padding-top: 5px;
  font-size: 3em;
  color: rgb(245, 245, 245, 0.8);
  cursor: default;
}
.navbar {
  height: 90vh;
  width: 5em;
  list-style-type: none;
  justify-content: start;
  align-items: center;
}

.nav-item {
  font-family: "Red Hat Text", sans-serif;
  margin: 0.5em;
  font-size: 0.9em;
  width: 5em;
  height: 100%;
  display: block;
  position: relative;
  text-decoration: none;
  transition: ease-out 0.2s;
  color: rgb(245, 245, 245, 0.8);
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 1000;
}

a.nav-item:hover {
  margin-left: 2em;
}
a.nav-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 0.1em;
  background-color: #ff4500;
  opacity: 1;
  transition:
    opacity 300ms,
    200ms;
}
a.nav-item:hover::after,
a:focus::after {
  opacity: 1;
  width: 150%;
  transform: translate3d(0, 0.2em, 0);
}
.hr-nav {
  width: 80%;
  margin-top: 1em;
  height: 5px;
  background-color: whitesmoke;
  border-color: whitesmoke;
}

/********************Nav responsive*****************/
@media (max-width: 450px) {
  nav {
    width: 4em;
    height: 1em;
  }
}
/******************hero side***************/
.name-absolute {
  position: absolute;
  top: 1em;
  right: 4em;
}
@keyframes fade-left {
  0% {
    opacity: 0;
    transform: translateX(30px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}
.hero-right {
  position: fixed;
  right: 0;
  width: 3em;
  height: 300px;
  align-items: center;
  justify-content: center;
  background-color: #d91f33;
  writing-mode: vertical-rl;
  animation: fade-left 0.8s;
  transition: opacity 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.hero-right-disappear {
  right: -50px;
  animation: fade-left 0.8s;
  transition: 0.3s ease-in-out;
}
.hero-slogan {
  font-family: "Red Hat Text", sans-serif;
  color: var(--sparecol);
  font-weight: bold;
  font-style: italic;
}

/*Hero*/
/* 
header {
  position: static;
  background-image:url("./components/images/sphere.gif");
  background-size: cover;
  background-position: center center;
} */
/* @media only screen and (max-width: 1024px) {
  header {
    background-position: bottom left;
  }
} */

.background{
  position: fixed;
  background-image:url("./components/images/sphere.gif");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  left: 0;
}

.container-hero {
  padding-left: 3em;
  height: 100vh;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  overflow: hidden;
}
@media only screen and (max-width: 600px) {
  .container-hero {
    padding-left: 1.2em;
  }
}

@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translateX(-30px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}
.profile {
  padding: 2em;
  margin-right: 4em;
  width: 100%;
  height: auto;
  text-align: left;
  animation: fade-right 1s;
  line-height: 0.9;
}
.hero-h1 {
  font-size: 10em;
  font-weight: lighter;
  /* font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */

  /* color: rgb(255, 68, 0, 0.8); */
  color: white;
}

.hero-h2 {
  font-size: 4em;
  font-weight: lighter;
  color: white;
  text-align: right;
}

.hero-sub {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 600px) {
  .hero-sub {
    flex-direction: column-reverse;
  }
  .hero-h2 {
    display: none;
  }
  .hidden-hr{
    display: none;
  }
}

.button-hero {
  height: 12vh;
  width: 90%;
  border-radius: 40px;
  font-family: "Red Hat Text", sans-serif;
  font-size: 1.2em;
  border: 2px solid;
  border-color: white;
  color: #232931;
  background-color: whitesmoke;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}
.button-hero:hover {
  border-color: white;
  color: white;
  background-color: transparent;
}

.h-right {
  width: 100%;
  height: auto;
  text-align: right;
}

.my-name {
  position: fixed;
  top: 1em;
  right: 3em;
  float: right;
  font-family: "Red Hat Text", sans-serif;
  color: var(--sparecol);
  font-style: italic;
  background-color: rgb(255, 68, 0, 0.8);
  padding-left: 10px;
  padding-right: 10px;
  width: 10em;
  mix-blend-mode: difference;
}

.nav-icon {
  width: 1.5em;
  margin: 1em;
  color: whitesmoke;
  transition: 0.3s;
}
.nav-icon:hover {
  color: #4a9ced;
}
/*************tablet***********/
@media (max-width: 768px) {
  .container-hero {
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
  }
  .profile {
    padding-top: 2em;
    width: 100%;
  }
  .hero-h1 {
    font-size: 9em;
  }
  .button-hero {
    width: 100%;
  }
}
/*********phone***********/
@media only screen and (max-width: 600px) {
  .hero-h1 {
    font-size: 4em;
  }
}

/*Section*/
.section {
  padding: 3em;
  background-color: var(--sectioncol);
  padding-left: 5em;
  padding-right: 3em;
  padding-top: 6em;
  width: 100%;
  height: auto;
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .section {
    padding-top: 4em;
    display: flex;
    padding-left: 4em;
    padding-right: 1em;
    padding-bottom: 4em;
  }
}
@media only screen and (max-width: 600px) {
  .section {
    padding-top: 4em;
    padding-left: 3.5em;
    padding-right: 1em;
    padding-bottom: 4em;
  }
}


.section2 {
  margin-top: -1px;
  padding: 3em;
  background-color: var(--sparecol);
  padding-left: 5em;
  padding-right: 3em;
  width: 100%;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .section2 {
    padding-top: 4em;
    padding-left: 4em;
    padding-right: 1em;
    padding-bottom: 4em;
  }
}
@media only screen and (max-width: 600px) {
  .section2 {
    padding-top: 4em;
    padding-left: 3.5em;
    padding-right: 1em;
    padding-bottom: 4em;
  }
}

.section-container {
  padding: 2em;
  font-weight: 20px;
}

.section-title {
  font-size: 4em;
  text-align: left;
  font-family: "Red Hat Text", sans-serif;
  color: #dc1c31;
  border-color: #ff4500;
}
.section-title2 {
  font-size: 4em;
  text-align: left;
  font-family: "Red Hat Text", sans-serif;
  color: rgba(0, 128, 255, 0.639);
  border-color: #ff4500;
}
@media only screen and (max-width: 600px) {
  .section-title2 {
    font-size: 3em;
  }
  .section-title {
    font-size: 3em;
  }
}
.section-sub {
  font-size: 1.5em;
  text-align: center;
  font-family: "Red Hat Text", sans-serif;
  text-align: left;
  color: rgb(245, 245, 245, 0.8);
  font-style: italic;
  margin-bottom: -0.7em;
}
.section-sub2 {
  font-size: 1.5em;
  text-align: center;
  font-family: "Red Hat Text", sans-serif;
  text-align: left;
  color: rgb(0, 0, 0, 0.8);
  font-style: italic;
  margin-bottom: -0.7em;
}
.section-p {
  font-family: "Red Hat Text", sans-serif;
  margin-top: 1em;
  color: #dcd7c9;
}
.section-p2 {
  font-family: "Red Hat Text", sans-serif;
  margin-top: 1em;
  color: #232931;
}

/*ABOUT SECTION*/
.about-section {
  justify-content: space-between;
  width: 100%;
}


.hero-arrrow {
  height: 20em;
  position: absolute;
  right: 40%;
}
@media only screen and (max-width: 600px) {
  .hero-arrrow {
    height: 15em;
    position: absolute;
    right: 45%;
    rotate: 30deg;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .hero-arrrow {
    height: 22em;
    position: absolute;
    right: 55%;
    rotate: 20deg;
  }
}

.about-img {
  width: 45%;
  height: 100%;
  z-index: -1;
}
@media only screen and (max-width: 600px) {
  .about-img {
    width: 100%;
  }
}
@media only screen and (max-width: 1024px) {
  .about-img {
    padding-top: 2em;
    width: 100%;
  }
}

.about-text {
  width: 50%;
}

@media only screen and (max-width: 600px)  {
  .about-section {
    flex-direction: column;
    justify-content: center;
  }
  .about-text {
    width: auto;
  }
}


/*************TIME LINE***************/
.timeline {
  position: relative;
  width: 100%;
}
.timeline-container {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  margin-bottom: 2em;
}
.timeline-textbox {
  padding: 10px 20px;
  background-color: rgb(245, 245, 245, 0.4);
  position: relative;
  border-radius: 6px;
  font-size: 15px;
}
.left-container {
  left: 0;
}
.right-container {
  left: 50%;
}
.timeline-container img {
  position: absolute;
  width: 60px;
  border-radius: 50%;
  right: -28px;
  top: 32px;
  z-index: 1;
}
.right-container img {
  left: -28px;
  z-index: 1;
}
.timeline::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 80%;
  background: rgb(245, 245, 245, 0.4);
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
}
.timeline-textbox h2 {
  font-weight: 600;
  color: rgb(0, 128, 255, 0.8);
}
.timeline-textbox small {
  display: inline-block;
  margin-bottom: 15px;
  position: absolute;
  top: -2em;
}
.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid rgb(245, 245, 245, 0.4);
  right: -15px;
}
.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid rgb(245, 245, 245, 0.4);
  left: -14.5px;
}
/***************RESPONSIVENESS*****************/
@media (max-width: 800px) {
  .timeline {
    margin: 0px auto;
  }
  .timeline::after {
    left: 20px;
  }
  .timeline-container {
    width: 100%;
    padding-left: 40px;
    padding-right: 25px;
  }
  .timeline-textbox {
    font-size: 13px;
    margin-bottom: 10px;
    left: 20px;
    top: 10px;
  }
  .right-container {
    left: 0;
  }
  .left-container img,
  .right-container img {
    left: -10px;
  }
  .left-container-arrow,
  .right-container-arrow {
    border-right: 15px solid rgb(245, 245, 245, 0.4);
    border-left: 0;
    left: -15px;
  }
}
/*Project*/

.project-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 4em;
  grid-row-gap: 1em;
}
@media only screen and (max-width: 1024px) {
  .project-container {
    display: flex;
    flex-direction: column;
  }
}

#project-title {
  grid-area: 1 / 1 / 2 / 3;
}
#project1 {
  grid-area: 1 / 3 / 4 / 6;
}
#project2 {
  
  grid-area: 2 / 1 / 7 /3;
}
#project3 {
  grid-area: 4 / 3 / 7 / 6;
}

.section p,
h4 {
  color: white;
}

.section h3 {
  color: white;
  font-size: 45px;
  margin-right: 10px;
}

.project-info {
  padding-top: 7px;
}
@media only screen and (max-width: 600px) {
  .project-info p {
    font-size: 1em;
  }
}

.project-button :hover {
  background-color: #000;
  opacity: 0.5;
}

/*Footer*/

footer {
  height: auto;
  width: 100%;
  color: whitesmoke;
  padding-left: 4em;
  line-height: 1;
  padding-top: 10em;
  padding-bottom: 2em;
  overflow: hidden;
}
@media only screen and (max-width: 1024px) {
  footer {
    padding-left: 1em;
  }
}

footer ul {
  list-style: none;
  width: 60%;
}

footer h3 {
  font-size: 8em;
  width: 40%;
}

footer hr {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  footer ul {
    width: 100%;
  }

  footer h3 {
    font-size: 3em;
    width: 40%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  footer ul {
    width: 100%;
  }

  footer h3 {
    font-size: 6em;
    width: 40%;
  }
}

.arrow-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;
  width: 40%;
  padding-right: 1em;
}

.arrow-up {
  height: 10em;
  margin-bottom: 1.5em;
  color: #dc1c31;
}
@media only screen and (max-width: 600px) {
  .arrow-up {
    height: 4em;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .arrow-up {
    height: 8em;
  }
}

.arrow-up:hover {
  color: whitesmoke;
}

.bounce {
  animation: bounce2 3s ease infinite;
}
@keyframes bounce {
  0%,
  8%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  5% {
    transform: translateY(-18px);
  }
  11% {
    transform: translateY(-10px);
  }
}

/*
* Contact
*/

.contact-wrapper{
  padding: 0em 0em 0em 3em;
  width: 100%;
  height: 100vh;
  background-color: var(--sparecol);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: var(--font1);
}
@media only screen and (max-width: 600px) {
  .contact-wrapper{
    padding: 0em 0em 0em 4em;
    height: 110vh;
  }
}


.contact-social{
  display: flex;
  position: absolute;
  right: 1.5em;
  top: 5em;
}
@media only screen and (max-width: 600px) {
  .contact-social{
    top: 45.5em;
    right: 5em;
  }
}


.contact-container{
  position: relative;
  margin: 2em 0em 2em 0em;
  padding: 2em 0em 2em 2em;
  width: 60%;
  color: white;
  height: 90vh;
  backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
  overflow: hidden;
  background-color: black; 
}
@media only screen and (max-width: 600px) {
  .contact-container{
    height: 95%;
    width: 100%;
    margin: 0;
    padding: 0em 0.5em 0em 0.5em;
  }
}

.form-wrapper{
  height: 90%;
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}


.contact-container h1{
  font-size: 3em;
  font-weight: 500;
  line-height: 1em;
}
@media only screen and (max-width: 600px) {
  .contact-container h1{
    font-size: 3.4em;
    font-weight: 500;
    line-height: 1em;
  }
}


.contact-container h2{
  font-size: 16px;
  width: 100%;
  text-align: left;
  margin-top: -15px;
}
@media only screen and (max-width: 600px) {
  .contact-container h2{
    font-size: 18px
  }
}

.form-top{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 600px){
  .form-top{
    flex-direction: column;
  }
}

.contact-input{
  position: relative;
  background-color:transparent;
  width: 100%;
  outline: none;
  position: relative;
  border: none;
  border-bottom: 1px solid transparent;
  margin: 4px;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
  box-sizing:border-box;
  resize: none;
  color:white;
}
@media only screen and (max-width:600px){
  .contact-input{
    margin-bottom: 18px;
  }
}
.contact-input:focus{
  border-bottom: 2.5px solid #4a9ced;
}

.contact-textarea{
  position: relative;
  background-color: transparent;
  width: 100%;
  outline: none;
  border: none;
  resize: none;
  min-height: 100px;
  border-bottom: 1px solid white;
  box-sizing:border-box;
  color: white;
}
.contact-textarea:focus{
  border-bottom: 2.5px solid #4a9ced;
}

.contact-button{
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 10px 20px;
  border-radius: 0px;
  width: 10em;
  cursor: pointer;
  position: relative;
  z-index: 5;
}
.contact-button:hover{
  color: black;
}
.contact-button::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  opacity: 1;
  transition: 0.2s ease-in-out;
  height: 45px;
  width: 0%;
  z-index: -1;
}
.contact-button:hover::after{
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .contact-button{
    width: 16em;
    height: 3.5em;
  }
}

.contact-icon{
  filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(3212%) hue-rotate(265deg) brightness(113%) contrast(89%);
  height: 2em;
  width: 2em;
  margin-right: 1em;
}

.error-border {
  border-bottom: 2px solid red;
  outline: none;
}